.shake-slow {
	color: white;
	background-color: #4f4747;
	border-radius: 8px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 11px;
	padding: 7px 19px;
	text-decoration: none;
	text-align: center;
}